@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
	--dark-color: hsl(0 0% 14%);
	--white-color: hsl(0 0% 98%);
	--notepurple: hsl(276, 66%, 39%);
	--noteyellow: hsl(56, 98%, 77%);

	
}


code {
  font-family: 'Poppins', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1{
	letter-spacing: -0.15rem;
	font-weight: bolder ;
}

.dark-mode{
  background-color: black;
  transition: 0.5s;
}

.dark-mode h1{
  color: var(--white-color);
}

.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
}

.note.new{
  background-color: #67d7cc;
}

textarea{
  border: none;
  resize: none;
  background-color: #67d7cc;
  font-family: 'Poppins', sans-serif;
  font-size: small;
}

textarea:focus{
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  font-family: Poppins;
  font-size: 10px;
}

.save:hover{
  background-color: var(--dark-color);
  cursor: pointer;
  transition: 0.5s;
  color: var(--white-color);

}

.note{
  background-color: var(--noteyellow) ;
  font-family: 'Poppins', sans-serif;
  font-size: small;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  overflow-wrap: break-word;

}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.delete-icon{
  cursor: pointer;
}

.delete-icon:hover{
	color: red;
	transition: 0.5s;
}

.search{
  display: flex;
  align-items: center;
  background-color: rgb(233,233,233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input{
  border: none;
  background-color: rgb(233,233,233);
  font-family: Poppins;
}

.search input:focus{
  outline: none;
}